<div style="width:80%" class="mr-auto ml-auto">
    <div class="row">
        <div class="col col-6">
                <iframe data-lazyloaded="1" src="https://display.netbina.com/banner/5dff1139e0551" data-src="https://display.netbina.com/banner/5dff1139e0551" marginheight="0" marginwidth="0" scrolling="no" height="85" class="litespeed-loaded" data-was-processed="true"></iframe>
        </div>
        <div class="col col-6">
            <a href="https://green.ir/products/power-supply" target="_blank" rel="nofollow noopener noreferrer" title="ads">
                <img data-lazyloaded="1" src="https://sakhtafzarmag.com/wp-content/uploads/ads/header-Green-00-09.gif" data-src="https://sakhtafzarmag.com/wp-content/uploads/ads/header-Green-00-09.gif" alt="تبلیغات" height="85" class="litespeed-loaded" data-was-processed="true">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-6">
            <a href="https://b2n.ir/m09870" target="_blank" rel="nofollow noopener noreferrer" title="ads">
                <img data-lazyloaded="1" src="https://sakhtafzarmag.com/wp-content/uploads/ads/Header-MSI-1400-2.gif" data-src="https://sakhtafzarmag.com/wp-content/uploads/ads/Header-MSI-1400-2.gif" alt="تبلیغات" height="85" class="litespeed-loaded" data-was-processed="true">
            </a>
        </div>
        <div class="col col-6">
            <a href="https://dinu.ir/" target="_blank" rel="nofollow noopener noreferrer" title="ads">
                <img data-lazyloaded="1" src="https://sakhtafzarmag.com/wp-content/uploads/ads/915x85-dinu.jpg.webp" data-src="https://sakhtafzarmag.com/wp-content/uploads/ads/915x85-dinu.jpg.webp" alt="تبلیغات" height="85" class="litespeed-loaded" data-was-processed="true">
            </a>
        </div>
    </div>
</div>