@using Microsoft.AspNetCore.Identity

@{
    foreach (var mainCategory in Model.TreeviewCategories)
    {
        if (mainCategory.ChildCategories == null || mainCategory.ChildCategories.Any() is false)
        {
            <li class="nav-item">
                <a class="nav-link" href="/NewsCategory?catId=@mainCategory.Id">
                    @mainCategory.TitleFa
                </a>
            </li>
        }
        else
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="/NewsCategory?catId=@mainCategory.Id">
                    @mainCategory.TitleFa
                </a>
                <ul class="dropdown-menu">

                    @foreach (var subCategory in mainCategory.ChildCategories)
                    {
                        <li>
                            <a class="dropdown-item" href="/NewsCategory?catId=@subCategory.Id">
                                @subCategory.TitleFa
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    }
}