<div class="textwidget custom-html-widget">
    <div class="bannergroup">
        <div itemscope="" itemtype="http://schema.org/WPAdBlock" class="ads" id="Home-Header-ads-00">
            <a href="https://kalatik.com/?utm_source=sakhtafzarmag&amp;utm_medium=banner&amp;utm_campaign=sakhtafzarmag_bnr" target="_blank" rel="nofollow noopener noreferrer" title="ads">
                <img data-lazyloaded="1" src="https://sakhtafzarmag.com/wp-content/uploads/ads/1860-110-kalatik.-00-09-20.gif"
                     data-src="https://sakhtafzarmag.com/wp-content/uploads/ads/1860-110-kalatik.-00-09-20.gif" alt="تبلیغات" max-height="110" class="litespeed-loaded adImage" data-was-processed="true"
                style="max-width:80%;" col="col col-10">
            </a>
        </div>
    </div>
</div>