<aside class="sidebar" id="sidebar-wrapper">
            <section id="box285" class="box ads ads-random ads-orig hidden-sm hidden-md hidden-lg fixed-ad" data-conf="{&quot;items&quot;:1}" style="display: block;">
                <div style="">
                    <ul>
                        <li data-conf="{&quot;chance&quot;:100}" id="ad285_573" data-from="0" data-to="99" style="display: list-item;">
                                <figure><a href="/redirect/ads/573" target="_self">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/10/10/0/62053594.gif" alt="همراه اول" loading="lazy"></a></figure>
                            
                        </li>
                    </ul>
                </div>
            </section>
            <section id="box212" class="box ads _bg-gray _border-right" data-conf="{}">
                <div style="">
                    <ul>
                        <li data-conf="{}" id="ad212_228">
                                <figure><a href="/redirect/ads/228" target="_self">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2017/02/28/1/57446757.jpg?ts=1498045331768" alt="شهادت حضرت زهرا" loading="lazy"></a></figure>
                            
                        </li>
                    </ul>
                </div>
            </section>
            <section id="box32" class="box box ads _bg-gray _border-right" data-conf="{}">
                <div style="">
                    <ul>
                        <li data-conf="{}" id="ad32_1489">
                                <figure><a href="/redirect/ads/1489" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/11/30/0/62105864.gif?ts=1638268616682" alt="بانک مهر ایران" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_1440">
                                <figure><a href="/redirect/ads/1440" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/11/22/0/62097336.gif?ts=1637551728726" alt="رایتل" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_1498">
                                <figure><a href="/redirect/ads/1498" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/12/16/0/62121898.gif?ts=1639642854943" alt="کارگزاری مفید" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_1494">
                                <figure><a href="/redirect/ads/1494" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/12/07/0/62112355.gif?ts=1638862712784" alt="سفیران سروش" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_1490">
                                <figure><a href="/redirect/ads/1490" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/12/04/0/62109566.gif?ts=1638621549883" alt="بانک مسکن" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_1487">
                                <figure><a href="/redirect/ads/1487" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/12/06/0/62111279.gif?ts=1638779743698" alt="گاز" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_1439">
                                <figure><a href="/redirect/ads/1439" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/08/22/0/62012777.gif" alt="آکادمی زبان اکسیر" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_777">
                                <figure><a href="/redirect/ads/777" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/09/05/0/62024178.gif" alt="بانک توسعه تعاون" loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_1117">
                                <figure><a href="/redirect/ads/1117" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/09/15/0/62032389.gif" alt="بیمه البرز " loading="lazy"></a></figure>
                            
                        </li>
                        <li data-conf="{}" id="ad32_786">
                                <figure><a href="/redirect/ads/786" target="_blank">
                                        <img class="adImage" src="https://cdn.isna.ir/d/2021/08/29/0/62018204.gif" alt="بانک رفاه" loading="lazy"></a></figure>
                            
                        </li>
                    </ul>
                </div>
            </section>
            </aside>
<script language="javascript">
	sanaPriceCloseScript();
	function sanaPriceCloseScript() {
		// Script that does something and depends on jQuery being there.
		if( window.$ ) {
			if(!$("link[href='https://widget.isna.ir/css/money_style.css']").length){
				$('head').append('<link rel="stylesheet" type="text/css" href="https://widget.isna.ir/css/money_style.css">');
			}
			$(document).ready(function() {
				$(function(){
					$.ajax({
						url: 'https://widget.isna.ir/sana.php',
					}).done(function(data){
							$('.sana-price-close .sana-price-main').empty();
							$('.sana-price-close .sana-price-main').append($(data));
							$('.sana-price-close .sana-price-main').append('<div class="sana-price-more"><span>بیشتر</span></div>');
							
							$('.sana-price-close .sana-price-more span').bind("click",function(){
								$(this).parent(this).parent(this).toggleClass('sana-close');
							});
					});  
				});
			});
		} else {
			window.setTimeout( sanaPriceCloseScript, 50 );
		}
	}
</script>
