/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

article, span, p, h1, h2, h3, h4, h5, h6, strong, a, em, label {
    font-family: 'IranSans', 'Tahoma', 'Arial', 'sans-serif';
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    line-height: 36px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

@font-face {
    font-family: 'IranSans';
    src: url('..\Fonts\IRANSansWeb_Light.woff2') format('woff2'), url('..\Fonts\IRANSansWeb_Bold.woff2') format('woff2');
}

.c-comments__item {
    padding: 16px 0;
}

.c-comments__item + .c-comments__item {
    border-top: 1px solid #dfdfdf;
}

.c-comments__list {
    list-style: none;
    padding: 0;
    margin-top: 18px;
    font-family: IRANSans,serif;
}

.c-comments__content-section {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: calc(100% - 270px);
}

.c-sort-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-comments__item--pdp .c-comments__row {
    margin: 12px 0;
}

.c-comments__row {
    margin: 8px 0;
    text-align: right;
}

.c-comments__title {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    color: #232933;
}

.c-comments__detail {
    color: #a1a3a8;
    font-size: 10px;
    font-size: .714rem;
    line-height: 2.2;
    position: relative;
}

